@{
    ViewBag.Title = "About";
    
}
<h2>@ViewBag.Title.</h2>



<p><strong>This application contains information about Customer, Groups, Items. You can provide any of the Id to retrieve information.</strong></p>
