@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    <strong>
        5475,55th Street #43<br />
        San diego, CA-92115<br />
        <abbr title="Phone">P:</abbr>
        619-488-7685
    </strong>
</address>

<address>
    <strong>Email:</strong>   <a href="92patilshailesh@gmail.com">92patilshailesh@gmail.com</a><br />
    
</address>