body {
    padding-top: 50px;
    padding-bottom: 20px;
    background:#F3FAB6;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color:#197E46;
    background:#4A96AD ;
}
a{
	color:blue;
	text-decoration: none;
}
	a:hover,
	a:active{ text-decoration: underline; }


h1 {
	margin:0;
	padding:50px 0 0;
	line-height:1.2em;
	text-transform:none;
   
	text-decoration:none;
    font:italic 40px/1.2em Arial, Helvetica, sans-serif;
    letter-spacing:-1px;
    text-align:center;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}